<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>rdbgb.us</title>
	
</head>

<body>
	<h1>rdbgb.us</h1>
	
	<p>This is <a href="http://groovymother.com/"><strong>R</strong>o<strong>d</strong>
		<strong>B</strong>e<strong>gb</strong>ie</a>'s personal URL shortener
		server.  It is intended to route around the problems of TinyURL or URLTea being down
		by being at his <a href="http://www.oblomovka.com/entries/2007/11/14#1195109700">edge</a>
		of the inertnet.</p>

	<p>The server is written on top of the embarrassingly-gorgeous
		<a href="http://www.djangoproject.com/">Django</a> framework, and the code will be
		open-sourced once I've done some tidying.</p>

</body>
</html>
